.ui.borderless.topmenu.container.menu {
  box-shadow: none;
  border: none;
  padding: 0px 50px;
}

.grad-background {
  background: url('gradbackground.png') no-repeat center center fixed;
  background-size: cover;
  height: 200px;
}

.footer-background {
  background-color:#004030;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}